<ion-tabs>

  <ion-tab-bar slot="bottom">

   <ion-tab-button tab="tab1" class="tabs">
        <ion-icon name="apps" style="width: 50px; height: 50px;"></ion-icon>
        <ion-label style="font-size: 15px;">Contagem</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="tab2" class="tabs">
        <ion-icon name="flash" style="width: 50px; height: 50px;"></ion-icon>
        <ion-label style="font-size: 15px;">Pesquisador</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>
