<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formCadastrar">
  <ion-item>
    <ion-label floating>Pesquisador: </ion-label>
    <ion-input formControlName="pesquisador" type="pesquisador" name="pesquisador"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Supervisor: </ion-label>
    <ion-input formControlName="supervisor" type="supervisor" name="supervisor"></ion-input>
  </ion-item>
  
  <div class="botao">
  <ion-button (click)="cadastrar(formCadastrar.value)" type="submit" color="success" round>Cadastrar</ion-button>
  </div>
  </form>

</ion-content>
